@import "./_variables";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@mixin flexible-main-container() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

@mixin flexible-container__item() {
    width: 75px;
    height: 75px;
    margin: 10px;
    background-color: #000;
    transition-duration: 3s;
}

@mixin flexible-container__item_hover() {
    background-color: $hover;
    transition-duration: .1s;
}

@mixin checkbox() {
    display: flex;
    position: absolute;
    right: 10px;
}

@mixin checkbox__text() {
    color: $font;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

@mixin toCircle() {
    border: 1px solid yellow;
    border-radius: 50%;
    background: none;
    width: 105px;
    height: 105px;
    margin: -5px;
}